@media  screen and (max-width: 1440px) and (min-width: 1024px) {
    .menubutton{
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
    .input{
        height: 10vh;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .menu{
        margin-top: 35px;
    }
    .menubutton{
        margin-top: 35px;
        justify-content: space-evenly;
    }
    .logo{
        text-align: center;
        font-weight: 800;
    }
    .info h3{
    font-size: 40px;
    font-weight: 200;
    }
    .signin .btn{
        width: 100%;
    }
    .input{
        height: 10vh;
        width: 100%;
    }
    .googleicon .btn{
        width: 100%;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px)  {
    .menu{
        margin-top: 30px;
    }
    .logo{
        text-align: center;
    }
    .menubutton{
        justify-content: end;
        margin-top: 10px;
    }
    .info h3{
        font-size: 35px;
    }
    .input{
        /* height: 19vh; */
        width: 100%;
    }
    span{
        display: none;
    }
    .signin .btn{
        width: 100%;
    }
    .googleicon .btn{
        width: 100%;
    }
}