.menubar{

}
.logo a{
    text-decoration: none;
}
.logo h4{
    font-size: 35px;
    font-weight: 600;
    color: #0A66C2;
}
.fa-brands{
    background-color: #0A66C2;
    font-size: 28px;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}
.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-right: 1px solid gray;
    padding: 0px 20px ;
    height: 50px;
}
.icon a:hover{
    color: black;
}
.fa{
    font-size: 25px;
    color: gray
}
.fa:hover{
    color: black;
}
.menu a{
    text-decoration: none;
    color: gray;
}
.menubutton{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.button{
    text-decoration: none;
    padding: 9px;
    border-radius: 15px;
    margin-left: 5px;
    color: black;
    font-size: 15px;
    
}
.button:hover{
    background-color: #F5F5F5;
    border-radius: 10px;
}
.btn{
    padding: 9px;
    border-radius: 15px;
    color: #0A66C2;
}
.btn:hover{
    background-color: #F0F7FE;
    color: black;
}
.info h3{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 200;
    color: #AC8378;
}
label{
    color: var(--color-input-label);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.input{
    width: 65%;
    height: 9vh;
    border-radius: 10px;
    margin-bottom: 25px;
}
.forget{
    text-decoration: none;
    font-weight: 600;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.forget:hover{
    border-bottom: 1px solid black;
    color: black;
}
.signin .btn {
    width: 65%;
    text-align: center;
    border-radius: 20px;
    background-color: #0A66C2;
    color: white;
    font-weight: 600;
}
.signin .btn:hover{
    background-color: #1a4876;
}
.googleicon{
    /* text-align: center; */
    /* width: 65%; */
    /* border: 2px solid gray; */
    
}
.googleicon .btn{
    background-color: #F0F7FE;
    width: 65%;
    border-radius: 20px;
    border: 2px solid gray;
    color: black;
    font-weight: 600;
}
.googleicon .fa-brands{
    font-size: 15px;
    padding: 5px 5px;
    background-color: white;
    color: rebeccapurple;
}
.image{
    width: 100%;
    height: 100%;
    display: block;   
}
.bg{
    /* background-color: #F3F2F0; */
}
.link{
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F3F2F0;
    width: 100%;
    border-radius: 50px;
    padding: 13px;
    /* font-size: 28px; */
    line-height: 60px;
    font-weight: 500;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.link:hover{
    background-color: #E9E9E7;
    color:black;
}
.box h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9)
}
.box01 h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #b24020;
}
.box01{
    display: flex;
}
.box1 .btn1{
    float: left;
    align-items: center;
    border: 1px solid blue;
    text-decoration: none;
    margin-left: 100px;
    padding: 10px;
    border-radius: 25px;
    background-color: #F1ECE5;
    font-weight: bold;
}
.box1 .btn1:hover{
    background-color: #E3E6E7;
    color: black;
    font-weight: bold;
}
.slider1{
    display: flex;
}
.slider1 p{
    float: left;
    text-align: justify;
    margin-top: 50px;
    font-size: 28px;
    line-height: 1.25;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.heading{
    font-size: 38px;
    color: #874634;
    line-height: 1.25;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.logo1{
    width: 40%;
    float: right;
}
.logo2{
    width: 70%;
    
}
.box2{
text-align: start;
}
.lead{
    line-height: 1.25;
    font-size: 50px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.btn2{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 50px;
    /* width: 70%; */
    text-align: center;
    padding: 15px;
    color: black;
    font-weight: 600;
}
.btn2:hover{
    background-color: #F5F5F5;
    color: black;
    font-weight: 600;
}
#study{
    height: 50px;
}
.links{
    margin-top: 120px;
}
.links h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #b24020;
}
.links p{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);

}
#study1{
    width: 80%;
    height: 50px;
    background-color: #EAE6DF;
}
.pic{
    width: 100%;
}
.bg2{
    background-image: url('images/screenshot.png');
    background-position: 100% 100%;
    background-size:   cover;
    background-repeat: no-repeat;
    width: 100%!important;
    /* margin: auto; */
    /* text-align: center; */
    height: 500px;
}
.bg2 h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 200;
}
.bg2 a{
    text-decoration: none;
    border: 1px solid green;
    padding: 15px;
    background-color: #0A66C2;
    color: white;
    border-radius: 50px;
    /* height: 30px; */
}
.pic1{
    width: 100%;
}
th{
    font-weight: bold;
    font-size: 30px;
}
.footer ul{
    list-style-type: none;
}
.footer li a{
    text-decoration: none;
    color: gray;
}
.footer li a:hover{
    text-decoration: underline;
    color: #0A66C2;
}
.logo1 a{
    display: flex;
    font-size: 12px;
}
.logo1 h4{
    font-size: 12px;
    font-weight: 600;
    color: #0A66C2;
    text-align: start;
}
.footerbody .fa-brands{
    background-color: #0A66C2;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}
.footerbody li{
    font-size: 8px;
    list-style-type: none;
}
.footerbody a{
    text-decoration: none;
    color: black;
}
.footerbody a:hover{
    text-decoration: underline;
}